button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.section-class {
    height: 50%;
    position: relative;
}

center {
    top: 50%;
    position: relative;
}